# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.hex
*.pyc
settings.json
build
docbuild
.idea
node_modules
.vscode
python/dist
python/ledwall.egg-info
python/examples/stats.txt
python/venv
python/*.txt

FrameBuffer4/.sconsign.dblite
